<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <h1>index page</h1>
  <header>
    <% include ../partials/header %>
  </header>

  <div>
  <ul>
  <% cryptos.forEach(function(data) { %>
      <li><%= data.crypto_name %> - <%= data.crypto_symbol %>
          <%= data.crypto_price %> - <%= data.crypto_metadata_id %>
          <%= data.crypto_logo %> - <%= data.crypto_link %>
      </li>
  <% }); %>
</ul>
  <div>


</body>

</html>