<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin | AcceptMyCrypto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/admin">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/add_venue">Add Venue</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/logout">Logout</a>
    </li>
  </ul>

  <h1>
    <%= cryptos[0].crypto_name %>
  </h1>

  <form method="POST" action="/admin/:crypto/accept_venue/create">

    <div class="form-group col">
      <label for="accepted-venues">Accepted Venues</label>
      <select multiple class="form-control" id="accepted-venues">
        <% cryptos.forEach(function(crypto) {  %>
        <option>
          ID:
          <%= crypto.venue_id %> -
          <%= crypto.venue_name %>
        </option>
        <% }); %>
      </select>
    </div>

    <div class="form-group col">
      <label for="accept-venue">Venues to be Accepted</label>
      <select multiple class="form-control" id="accepted-venues">
        <% venues.forEach(function(venue) {  %>
        <option>
          ID:
          <%= venue.id %> |
          <%= venue.venue_name %>
        </option>
        <% }); %>
      </select>
    </div>

    <div class="form-group col">
      <label>Enter Crypto ID</label>
      <input value="<%= cryptos[0].crypto_id %>" name="crypto_id" type="text" class="form-control" placeholder="Crypto ID">
    </div>

    <div class="form-group col">
      <label>Enter Venue ID</label>
      <input name="venue_id" type="text" class="form-control" placeholder="Venue ID">
    </div>

    <div class="form-group col-sm-10">
      <button type="submit" class="btn btn-primary">Accept Venue</button>
    </div>

  </form>


  <!-- <h2>1) Add Venues</h2>
<form method="POST" action="/admin/venues/create">
  <input type="text" name="venue_name" placeholder="Venue Name"> <br>
  <input type="text" name="venue_description" placeholder="Venue Description"> <br>
  <input type="text" name="venue_link" placeholder="Venue Website"> <br>
  <button>Submit</button>
</form>

<h2>2) Add Cryptos (If app is ran, Cryptos are added from coinmarketcap api)</h2>

<h2>3) Add Cryptos_Venues Relation</h2>
<form method="POST" action="/admin/cryptos_venues/create">
  <input type="text" name="crypto_id" placeholder="Crypto ID"> <br>
  <input type="text" name="venue_id" placeholder="Venue ID"> <br>
  <button>Submit</button>
</form> -->
  <!--
1) show a list of cryptos with ID
2) each crypto row has a venues dropdown with name and ID
3) each crypto row has a form to enter in the venues
4) each crypto row has a form to enter in Cryptos_Venues relationship by IDs -->

</body>

</html>